openapi: 3.0.3
info:
  title: Home Energy API
  description: |
    Energy dashboard API providing real-time and historical energy usage data.
    Connects to Home Assistant to fetch electricity and gas consumption.
  version: 3.0.0
  contact:
    name: API Support

servers:
  - url: https://energy.darktrain.co.uk
    description: Production server (LAN/VPN access)
  - url: http://localhost:3000
    description: Local development server

security: []

paths:
  /health:
    get:
      summary: Health check
      operationId: getHealth
      tags: [Health]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/energy/live:
    get:
      summary: Live power demand
      description: |
        Current real-time power demand in kW. Updates every 30 seconds.
      operationId: getLiveEnergy
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Current power demand
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEnergy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/energy/daily:
    get:
      summary: Daily energy totals
      description: |
        Total electricity and gas consumption for a specific day.
        Defaults to today if no date provided.
      operationId: getDailyEnergy
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: date
          in: query
          description: Date in YYYY-MM-DD format (defaults to today)
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
            example: "2026-01-31"
      responses:
        '200':
          description: Daily energy totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyEnergy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/energy/hourly:
    get:
      summary: Hourly breakdown
      description: |
        Hourly electricity and gas consumption for a specific day.
        Only available for the last 10 days.
      operationId: getHourlyEnergy
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      parameters:
        - name: date
          in: query
          description: Date in YYYY-MM-DD format (defaults to today)
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
            example: "2026-01-31"
      responses:
        '200':
          description: Hourly energy breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyEnergy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/energy/weekly:
    get:
      summary: Weekly summary
      description: |
        Daily electricity and gas totals for the last 7 days.
      operationId: getWeeklyEnergy
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Weekly energy summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyEnergy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/energy/monthly:
    get:
      summary: Monthly summary
      description: |
        Daily electricity and gas totals for the last 30 days.
      operationId: getMonthlyEnergy
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Monthly energy summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyEnergy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/energy/tariff:
    get:
      summary: Current tariff rates
      description: |
        Current electricity and gas rates, plus off-peak window times.
      operationId: getTariff
      tags: [Energy]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Tariff information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

  /api/car/schedule:
    get:
      summary: Car charging schedule
      description: |
        Current EV charging state, target, and scheduled charging windows.
      operationId: getCarSchedule
      tags: [Car]
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Car charging schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/BadGateway'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
            message: Invalid or missing API key

    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Bad Request
            message: Invalid date format. Use YYYY-MM-DD

    BadGateway:
      description: Failed to fetch data from Home Assistant
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Bad Gateway
            message: Failed to fetch data from Home Assistant

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string

    HealthResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          example: true

    LiveEnergy:
      type: object
      required: [demand_kw, is_off_peak, timestamp]
      properties:
        demand_kw:
          type: number
          description: Current power demand in kilowatts
          example: 1.25
        is_off_peak:
          type: boolean
          description: Whether currently in off-peak tariff period
          example: false
        timestamp:
          type: string
          format: date-time
          description: When this reading was taken

    DailyEnergy:
      type: object
      required: [date, electricity, gas, total_kwh, total_cost_gbp]
      properties:
        date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2026-01-31"
        electricity:
          type: object
          required: [grid_kwh, cost_gbp]
          properties:
            grid_kwh:
              type: number
              description: Total grid electricity consumed
              example: 12.45
            cost_gbp:
              type: number
              description: Total electricity cost in GBP
              example: 2.85
        gas:
          type: object
          required: [kwh, cost_gbp]
          properties:
            kwh:
              type: number
              description: Total gas consumed in kWh
              example: 25.60
            cost_gbp:
              type: number
              description: Total gas cost in GBP
              example: 1.92
        total_kwh:
          type: number
          description: Combined electricity and gas consumption
          example: 38.05
        total_cost_gbp:
          type: number
          description: Combined electricity and gas cost
          example: 4.77

    HourlyEnergy:
      type: object
      required: [date, hours]
      properties:
        date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2026-01-31"
        hours:
          type: array
          items:
            type: object
            required: [hour, electricity_kwh, gas_kwh]
            properties:
              hour:
                type: integer
                minimum: 0
                maximum: 23
                description: Hour of day (0-23)
                example: 14
              electricity_kwh:
                type: number
                description: Electricity consumed during this hour
                example: 0.45
              gas_kwh:
                type: number
                description: Gas consumed during this hour
                example: 1.20
          minItems: 24
          maxItems: 24

    WeeklyEnergy:
      type: object
      required: [days]
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/DayTotal'
          minItems: 7
          maxItems: 7

    MonthlyEnergy:
      type: object
      required: [days]
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/DayTotal'
          minItems: 30
          maxItems: 30

    DayTotal:
      type: object
      required: [date, electricity_kwh, gas_kwh]
      properties:
        date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2026-01-31"
        electricity_kwh:
          type: number
          description: Total electricity consumed
          example: 12.45
        gas_kwh:
          type: number
          description: Total gas consumed
          example: 25.60

    TariffInfo:
      type: object
      required: [electricity, gas, off_peak_window]
      properties:
        electricity:
          type: object
          required: [rate_p, is_off_peak]
          properties:
            rate_p:
              type: number
              description: Current rate in pence per kWh
              example: 29.20
            is_off_peak:
              type: boolean
              description: Whether currently in off-peak period
              example: false
        gas:
          type: object
          required: [rate_p]
          properties:
            rate_p:
              type: number
              description: Current rate in pence per kWh
              example: 5.44
        off_peak_window:
          type: object
          properties:
            current:
              type: object
              description: Current off-peak window (only present when in off-peak)
              properties:
                start:
                  type: string
                  format: date-time
                  example: "2026-01-31T23:30:00+00:00"
                end:
                  type: string
                  format: date-time
                  example: "2026-02-01T05:30:00+00:00"
            next:
              type: object
              description: Next scheduled off-peak window
              properties:
                start:
                  type: string
                  format: date-time
                  example: "2026-01-31T23:30:00+00:00"
                end:
                  type: string
                  format: date-time
                  example: "2026-02-01T05:30:00+00:00"

    CarSchedule:
      type: object
      required: [state, is_charging, smart_charge_enabled, target, schedule]
      properties:
        state:
          type: string
          description: Current charging state from Octopus Intelligent
          example: "SMART_CONTROL_CAPABLE"
        is_charging:
          type: boolean
          description: Whether the car is currently charging
          example: false
        smart_charge_enabled:
          type: boolean
          description: Whether smart charging is enabled
          example: true
        target:
          type: object
          required: [charge_pct, ready_by]
          properties:
            charge_pct:
              type: integer
              minimum: 0
              maximum: 100
              description: Target charge percentage
              example: 80
            ready_by:
              type: string
              nullable: true
              description: Time car should be ready by (HH:MM)
              example: "07:00"
        schedule:
          type: array
          description: Planned charging windows
          items:
            type: object
            required: [start, end, source]
            properties:
              start:
                type: string
                format: date-time
                description: Start of charging window
              end:
                type: string
                format: date-time
                description: End of charging window
              source:
                type: string
                description: Source of the schedule (e.g., "smart-charge")
